<!DOCTYPE html>

{% block styles %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
  {% if page_title %}
  {{page_title}}
  {% else %}
  Hello, World
  {% endif %}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class=page>
  {% block content %}{% endblock %}
</div>
{% endblock %}
